//1-creas un archivo ".env" en la raíz del proyecto
//2-copiar y pegar lo de aquí en el archivo .env creado

//ponen el link de su back corriendo en local o el link de gitpod
//incluyendo el "/api" al final
VITE_API_URL=http://localhost:3000/api

//port déjalo en 3000
PORT=3000